.clock-container {
    font-family: 'DigitalDisplay', 'arial', sans-serif;
    .lcd-container{
        height: 91px;
        width: 243px;
        background-color: #040404;
        padding: 20px 20px 2px 20px;
        h1 {
            font-size: 58px;
            color: #5AFC1D;
            text-shadow: 0 0 40px #5AFC1D;
            margin-bottom: 0px;
        }
    }
}
.code-container{
    margin-top: 20px;
    height: 50px;
}
.keyboard-container {
    button {
        width: 42px;
        height: 42px;
        margin: 2px;
    }
    p {
        margin-bottom: 0.5em;
    }
}
.explosion-img{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}